# Global configuration
global:
  worker_connections: 1024
  access_log: /var/log/webserv/access.log
  error_log: /var/log/webserv/error.log

server:
  listen: [127.0.0.1:8080, 127.0.1.1:8181]           # Bind to localhost on port 8181

  server_name: mysite.local          # Server name

  client_max_body_size: 1024         # Max allowed client request body size in bytes

  error_pages:                       # Custom error pages
    400: /errors/400.html
    403: /errors/403.html
    404: /errors/404.html
    405: /errors/405.html
    500: /errors/500.html

  locations:
    "/":
      root: /var/www/html
      index: [index.html, index.htm]
      methods: [GET, POST, DELETE]   # Allowed HTTP methods
      autoindex: false               # Directory listing disabled

    "/files":
      root: /var/www/files
      index: [index.html]
      methods: [GET]
      autoindex: true                # Directory listing enabled

    "/upload":
      root: /var/www/upload
      upload_store: /var/www/upload/files
      methods: [POST]                # Only POST allowed here
      autoindex: true

    "/redirect":
      return:
        code: 301
        url: http://example.com
      methods: [GET]

    "~ \.php$":                     # PHP CGI endpoint (regex match)
      root: /var/www/html
      cgi_pass: /usr/bin/php-cgi
      methods: [GET, POST, DELETE]
